.header__link-text {
  color: #fff;
  margin: 6px 0 0 0;
  font-size: 18px;
  line-height: 1.22;
  transition: opacity 0.4s ease-in;
}

.header__link-text:hover {
  opacity: 0.6;
}

@media screen and (max-width: 560px) {
  .header__link-text {
    font-size: 14px;
    line-height: 1.17;
  }
}