.profile__info {
  margin-left: 30px;
  max-width: 336px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 560px) {
  .profile__info {
    padding-top: 26px;
    margin: 0 auto;
    max-width: 280px;
  }
}