.elements {
  max-width: 880px;
  margin: 51px auto 66px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  column-gap: 17px;
  row-gap: 20px;
  justify-content: center;
}

@media screen and (max-width: 940px) {
  .elements {
    margin-top: 41px;
    margin-bottom: 55px;
    padding: 0 30px;
  }
}

@media screen and (max-width: 560px) {
  .elements {
    margin-top: 36px;
    margin-bottom: 48px;
    padding: 0 19px;
  }
}