.popup__error {
  font-family: 'Inter', 'Arial', sans-serif;
  color: #FF0000;
  font-size: 12px;
  line-height: 1.25;
  /*padding-bottom: 13px;*/
  visibility: hidden;
  display: block;
  min-height: 30px;
  max-width: 358px;
}

@media screen and (max-width: 560px) {
  .popup__error {
    max-width: 238px;
  }
}