.sign__title {
  margin: 20px 0 50px 0;
  color: #fff;
  text-align: center;
  font-size: 24px;
  line-height: 1.29;
}

@media screen and (max-width: 560px) {
  .sign__title {
    font-size: 20px;
    line-height: 1.24;
  }
}